[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
canvasapi = "*"
lxml = "*"
py-trello = "*"
markdownify = "*"

[dev-packages]

[requires]
python_version = "3.12"
